.calendarItem {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    /*background-color: red;*/
    font-size: 14px;
    color: #2F2F2F;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.calendarItem:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.calendarItem.active:after {
    background-color: #ED2939;
}

.calendarItem.active {
    color: white;
}

.calendarItem:hover:after {
    background-color: rgba(0, 0, 0, 0.1);
}

.calendarItem.active:hover:after {
    background-color: #ED2939;
    color: white;
}

.calendarItemText {
    z-index: 10;
    position: relative;
}

.calendar {
    width: 360px;
    height: 380px;
    box-shadow: 1px 1px 50px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.calendarItemsContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendarTitleContainer{
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 0 5px;
    font-weight: 800;
}

.calendarTitleContent{
    width: calc(100%/3);
    text-align: center;
    line-height: 55px;
}

.leftBtn{

}

.rightBtn{
    display: flex;
    justify-content: right;
}

.calendarItemBtn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    user-select: none;
}

.calendarDay{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #C1C1C1;
}

.calendarDay.weekend{
    color: #ED2939;
}

.calendarItemText.active{
    color: #C1C1C1;
}